extends layouts/default

block vars
  -title = 'Home Page'
  -bodyClass = 'home-page'

block content
  p Home page
  .slide
    .item x
    .item x
    .item.flex-2 x
    .item.text-danger x
    i.fal.fa-play 